* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
}
body {
    background-color: aquamarine;
    font-family: 'Nerko One', cursive;
}
.container {
    margin: auto;
    width: 70%;
}
h1 {
    color: white;
    font-size: 50px;
}
.row {
    border: 2px solid green;
}
.card {
    border: 1px solid red;
    width: 20%;
    height: 250px;
    display: inline-block;
    background-image: url("../img/pattern.png");
    background-size: 150px;
    background-repeat:repeat;
}
.card:hover {
    background: none;
    background-color: white;
}
img {
    display: none;
}
.card:hover img{
    max-width: 100%;
    max-height: 100%;
    display: block;
}   
.card:hover p{
    display: block;
    font-size: 30px;
    color: violet;
}
.row p {
    display: none;
}

footer p {
    font-size: 30px;
}